.DetailsJobsContainer {
  margin-bottom: 30px;
}
.DetailsJobsHeading {
  background: url("../../assets/AllImages/Vector-1.png") right bottom no-repeat,
    url("../../assets/AllImages/Vector.png") left top no-repeat, #f9f9ff;
  text-align: center;
  padding: 100px;
}
.DetailsJobsHeading .titleJob {
  font-size: 32px;
  color: #1a1919;
}
.DetailsJobsDescriptionContact {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.DetailsJobsDescriptionContact span {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}
.DetailsJobsDescriptionContact p {
  font-size: 18px;
  color: #757575;
  text-align: justify;
  margin: 5px 0;
}
.DetailsJobsContact p {
  font-size: 18px;
  color: #757575;
  margin-left: 10px;
}
.DetailsJobsDescription {
  width: 60%;
}
.DetailsJobsContact {
  width: 80%;
  padding: 10px 40px;
  background-color: #d9dbf887;
  border-radius: 10px;
}
.DetailsJobsContact h1 {
  font-size: 28px;
  border-bottom: 1px solid #101882d7;
  padding-bottom: 10px;
  margin: 10px 0;
}
.DetailsJobsFlex {
  display: flex;
  align-items: center;
  margin: 0;
}
.DetailsJobsDescriptionAllRight {
  margin: 15px;
}
.applyNowBtn {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: linear-gradient(90deg, #9873ff 0%, #7e90fe 100%);
  border-radius: 8px;
  border: 0;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}
.applyNowBtn:hover {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
}
.iconDetails {
  margin-right: 6px;
  color: rgb(150, 150, 255);
}

@media (max-width: 576px) {
  .DetailsJobsHeading {
    background: #f9f9ff;
    padding: 10px;
  }
  .DetailsJobsDescriptionContact {
    flex-direction: column;
  }
  .DetailsJobsDescription {
    width: 95%;
  }
  .DetailsJobsContact {
    width: 80%;
    margin-top: 20px;
  }
}
