.DetailsJobsHeading {
  background: url("../../assets/AllImages/Vector-1.png") right bottom no-repeat,
    url("../../assets/AllImages/Vector.png") left top no-repeat, #f9f9ff;
  text-align: center;
  padding: 100px;
}
.DetailsJobsHeading h1 {
  font-size: 32px;
  color: #1a1919;
}

@media (max-width: 576px) {
  .DetailsJobsHeading {
    background: #f9f9ff;
    padding: 10px;
  }
}
