.FeaturedJobsContainer {
  text-align: center;
  margin: 50px 0;
}

.FeaturedJobsContainer h1 {
  font-weight: 800;
  font-size: 48px;
  color: #1a1919;
}
.FeaturedJobsContainer p {
  font-weight: 500;
  font-size: 16px;
  margin: 15px 0 25px 0;
  color: #757575;
}
.FeaturedJobs {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.btnSeeMore {
  padding: 10px 15px;
  background: linear-gradient(90deg, #004b0f 0%, #001a4f 50%, #004b0f 100%);
  border: 0;
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  border-radius: 5px;
}
.btnSeeMore:hover {
  background: linear-gradient(90deg, #00003d 0%, #004002e5 50%, #00003d 100%);
}
@media (max-width: 576px) {
  .FeaturedJobs {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .FeaturedJobs {
    grid-template-columns: 1fr;
  }
}
