.AppliedJobsContainer {
  margin-bottom: 30px;
}
.AppliedJobsHeading {
  background: url("../../assets/AllImages/Vector-1.png") right bottom no-repeat,
    url("../../assets/AllImages/Vector.png") left top no-repeat, #f9f9ff;
  text-align: center;
  padding: 100px;
}
.AppliedJobsHeading .AppliedJobsTitle {
  font-size: 32px;
  color: #1a1919;
}
.NOAppliedJobs h1 {
  text-align: center;
  font-size: 48px;
  color: rgb(252, 136, 136);
  margin: 10px 0;
}
.FilterJobBtn {
  text-align: right;
  margin-top: 10px;
}
.FilterJobBtn button {
  margin: 10px;
  padding: 10px 15px;
  background: linear-gradient(90deg, #3f3d43 0%, #353951 100%);
  border: 0;
  font-weight: 700;
  font-size: 17px;
  color: #e7e7e7;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .AppliedJobsHeading {
    background: #f9f9ff;
    padding: 10px;
  }
  .NOAppliedJobs h1 {
    font-size: 28px;
    margin: 5px 0;
  }
}
