.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
  background-color: #f9f9ff;
}
.Navbar-Title a {
  text-decoration: none;
  font-weight: 800;
  font-size: 32px;
  color: #1a1919;
}

.Navbar-Link a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #757575;
}

.applyBtn {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  padding: 19px 28px;
  border: 0;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}
.applyBtn:hover {
  background: linear-gradient(90deg, #9873ff 0%, #7e90fe 100%);
}

.active {
  background-color: rgba(225, 225, 225, 0.799);
  padding: 8px;
  border: 2px solid rgb(189, 189, 189);
  border-radius: 10px;
}

@media (max-width: 576px) {
  .Navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
  .Navbar-Link {
    margin: 20px;
  }
  .applyBtn {
    padding: 10px 20px;
  }
}
