.blogContainer .titleBlog {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0;
}
.divContainer {
  border: 3px solid rgb(206, 206, 206);
  background-color: rgb(242, 242, 242);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
.questionAnswer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.divContainer h1 {
  margin: 10px 0px;
}
.divContainer p {
  margin: 10px 0px;
  color: #757575;
}

@media (max-width: 576px) {
  .questionAnswer {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
