.ErrorPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  color: rgb(181, 0, 0);
  height: 100vh;
  text-align: center;
}
.ErrorPageHandle {
  margin: 10px;
  padding: 10px;
}
.FaceIcon {
  color: rgb(198, 62, 28);
}
.ErrorTitle {
  margin: 10px;
  font-size: 48px;
}
.ErrorMessage {
  margin: 10px 0 30px 0;
  font-size: 18px;
}
.btnBackToHome {
  text-decoration: none;
  background: linear-gradient(180deg, #397539 0%, #0c4602 100%);
  border-radius: 8px;
  padding: 19px 28px;
  border: 0;
  font-weight: 800;
  font-size: 22px;
  color: #ffffff;
}
.btnBackToHome:hover {
  background: linear-gradient(180deg, #0c4602 0%, #397539 100%);
}
